.login-content {
	&__container {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.form-control {
		width: 75%;
		position: relative;
		margin: space(6) auto space(2);
		&:first-child {
			margin-top: space(9);
		}

		button[type="submit"] {
			@extend %btn;
		}
		&.submit-control {
			margin-top: space(3);
			width: 100%;
			display: inline-flex;
			justify-content: center;
		}
	}

	h2 {
		font-size: space(5);
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: space(2);
	}
}
