{{#if home}}
	<div class="flex justify-center mt-12 mb-4">
		<a class="lowercase bg-white text-black border-black border-2 text-xl px-4 py-2 hover:bg-black hover:text-white transition-colors duration-300 ease-in-out"
			href="/dashboard">Dashboard</a>
	</div>
{{/if}}
{{#if login}}
	<div class="flex justify-center mt-12 mb-4">
		<a class="lowercase text-black border-black border-2 text-xl px-4 py-2 hover:bg-black hover:text-white transition-colors duration-300 ease-in-out"
			href="/">Acceuil</a>
	</div>
{{/if}}
<script type="module" src="/js/app.js"></script>

</body>

</html>