{{#if home}}
<a class="mt-6 text-gray-400" href="/dashboard">Dashboard</a>
{{/if}}
{{#if login}}
<a class="mt-5 text-gray-400" href="/">Accueil</a>
{{/if}}
<script type="module" src="js/app.js"></script>

</body>

</html>