<!DOCTYPE html>
<html lang="en" class="loading">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <link rel="mask-icon" href="/favicon.svg">
        <link rel="stylesheet" href="/css/style.css">
        <title>Dépôt de typo</title>
    </head>

    <body class="{{@exphbs.view}}" data-barba="wrapper">
        <div class="loader-screen">
            <div class="loader-screen__container">
                <div class="loader-screen__wrapper">
                    <span id="loader">0</span><span>%</span>
                </div>
            </div>
            <div class="loader-screen__progress"></div>
        </div>