<aside class="rules">
	<span class="v-line"></span>
	<span class="h-line"></span>
	<div class="rules__container">
		<div class="rules__rules">
			<h3>{{text.type}}</h3>
			<p>{{text.content}}</p>
		</div>
		<ul class="rules__footer">
			<li><a href="mailto:contact.repo-typo@gmail.com">contact</a></li>
			<li><a href="/legals">politique de confidentialité</a></li>
		</ul>
	</div>
</aside>