<main class="page-404 relative text-center">
	<p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-10 font-bold pointer-events-none"
		style="font-size: clamp(3rem, 37vw, 21.5rem);">404</p>
	<h1 class="text-3xl mb-5">Mauvaise url</h1>
	<div class="flex justify-center">
		<a class="lowercase bg-white text-black border-black border-2 text-xl px-4 py-2 hover:bg-black hover:text-white transition-colors duration-300 ease-in-out"
			href="/">Accueil</a>
	</div>
</main>