<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <title>Dépôt de typo</title>
    </head>

    <body class="bg-gray-50 flex items-center justify-center min-h-screen">
        <form action="/submit-work" method="post" enctype="multipart/form-data" class="bg-gray-100 shadow-md w-4/5 mx-auto p-8 rounded-lg">
            <h1 class="text-4xl">Dépose ton travail</h1>
                <div class="flex">
                    <div>
                        <label for="nickname">Prénom *</label>
                        <input type="text" name="nickname" placeholder="Jean" required>
                    </div>
                    <div>
                        <label for="name">Nom *</label>
                        <input type="text" name="name" placeholder="Castex" required>
                    </div>
                </div>
                <!-- TODO: Préfixe insta logo -->
                <div>
                    <label for="instagram">Instagram</label>
                    <input type="text" name="instagram">
                </div>
                <!-- TODO: Préfixe twitter logo -->
                <div>
                    <label for="twitter">Twitter</label>
                    <input type="text" name="twitter">
                </div>
                <input type="file" name="file" label="Dépose ton fichier ou clique ici." is="drop-files" />
                <button type="submit">Envoyer mon travail</button>
        </form>
        <script type="module" src="js/app.js"></script>
    </body>

</html>