<form class="login-form" action="/user/login" method="post">
    <h2>Accès au dashboard</h2>
    <div class="form-control">
        <input type="email" id="email" name="email" placeholder=" " autocomplete required />
        <label for="email">Email</label>
        {{!-- <div class="span">Email invalide</div> --}}
    </div>
    <div class="form-control">
        <input type="password" id="password" name="password" placeholder=" " autocomplete required />
        <label for="password">Mot de passe</label>
    </div>
    <div class="form-control submit-control">
        <button type="submit">Se connecter</button>
    </div>
</form>