<form class="login-form" action="/user/login" method="post">
    <h2>Accès au dashboard</h2>
    <div class="form-control">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" autocomplete required>
    </div>
    <div class="form-control">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" autocomplete required>
    </div>
    <div class="form-control">
        <button type="submit">Se connecter</button>
    </div>
</form>