<main>
    <div class="relative w-4/5 mx-auto max-w-xl">
        <div
            class="absolute p-8 top-0 left-0 w-full h-full border-black border-4 bg-black transform translate-x-4 translate-y-4">
        </div>
        <div class="relative p-8 bg-white border-black border-4">
            {{#if success}}
                <div class="success">
                    <h1 class="text-5xl font-bold text-center mb-8">Succès</h1>
                    <p class="text-center">Votre dépôt de fichier a été reçu</p>
                </div>
            {{else}}
                <h1 class="text-5xl font-bold text-center mb-8">Erreur</h1>
                <p class="text-center">Une erreur est survenue, essaie plus tard </p>
            {{/if}}
        </div>

    </div>
</main>
<canvas class="absolute w-screen h-screen"></canvas>
