body:not(dashboard) {
	display: grid;
	width: 100vw;
	max-width: 100vw;
	min-height: 700px;
	height: 100vh;
	grid-template: space(32) auto / min-content 1fr;
	grid-template-areas:
		"navbar content"
		"rules content";
}
.rules {
	overflow: hidden;
	position: relative;
	.v-line {
		@extend %v-line;
		transform-origin: bottom;
	}
	.h-line {
		@extend %h-line;
	}
	padding: space(4);
	&__container {
		display: grid;
		height: 100%;
		grid-template: 1fr min-content / 1fr;
	}
	&__rules {
		overflow: hidden;
		h3 {
			text-transform: uppercase;
			font-weight: 500;
			font-size: space(3);
			margin-bottom: space(3);
		}
		p {
			line-height: 1.5;
		}
	}
	&__footer {
		overflow: hidden;
		text-transform: uppercase;
		font-weight: 300;
		li + li {
			margin-top: space(1);
		}
	}
}
main {
	overflow-x: hidden;
	padding: space(4);
	grid-area: content;
}

.return-home {
	height: space(8);
	align-self: flex-start;
}
