@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;800&display=swap");
$colors: (
	"black": #1F1E1E,
	"white": #F3F3F3,
	"primary": #F8923A,
	"secondary": #83a5d8,
);
$space: 0.5rem;
$font: "Lexend", sans-serif;
:root {
	@each $color, $value in $colors {
		--clr-#{$color}: #{$value};
	}
	--base-space: #{$space};
}
