.form-control {
	position: relative;

	&.form-submit {
		display: flex;
		align-content: center;
		justify-content: center;
	}

	.form-submit {
		display: flex;
		align-content: center;
		justify-content: center;
	}

	input {
		outline: none;
		width: 100%;
		padding: space(1.75) space(2) space(1.75) space(5.5);
		border: 2px solid var(--clr-primary);
		font: inherit;
		background: transparent;

		&:focus {
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		&:invalid {
			border-color: var(--clr-primary);
			outline: none !important;
		}

		&:required {
			border-color: var(--clr-primary);
			outline: none !important;
		}

	}


	svg {
		position: absolute;
		top: 50%;
		left: space(2);
		transform: translateY(-50%);
		height: 50%;
		width: space(2.5);
	}
}

.form-row {
	display: grid;
	gap: space(4);
	@for $i from 2 to 4 {
		&.col-#{$i} {
			grid-template-columns: repeat(#{$i}, 1fr);
		}
	}
}
