@function space($m) {
	@return $space * $m;
}

@mixin heading() {
	$j: 4;
	$multiplier: 1.22;
	@for $i from 1 through $j {
		.h-#{$j} {
			font: 700 calc(1rem * (#{$i} * #{$multiplier})) /#{$multiplier}
				var(--font);
		}
		$j: $j - 1;
	}
}
