@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;800&display=swap");
$colors: (
	"black": #1f1e1e,
	"white": #f8f8f8,
	"primary": #f8923a,
	"secondary": #83a5d8,
);
$space: 0.5rem;
$font: "Lexend", sans-serif;
$ease: 0.3s ease-in-out;
:root {
	@each $color, $value in $colors {
		--clr-#{$color}: #{$value};
	}
	--base-space: #{$space};
	--font: #{$font};
	--ease: #{$ease};
}
