<div class="current-word">
    <h2>Mot à typographier</h2>
    <h1>{{word.word}}</h1>
</div>
<div data-scroll-container>
    <div class="gallery" data-scroll-section>
        {{#each imgs as |img|}}
            <div class="gallery__wrapper" data-scroll-speed="2">
                <img src="{{img}}" alt="Galerie d'image" />
            </div>
        {{/each}}
    </div>
</div>